@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(35, 35, 85);
}

span{
    font-size: .9rem;color: rgb(22, 103, 141);
}

/* Navigation */

nav{
   position: fixed; 
   width: 100%;
   background-color: #fff;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 1vw 8vw;
   align-items: center;
   box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
   z-index: 999;
}

nav img{
    width: 190px;
    cursor: pointer;
}

nav .navigation{
    display:flex;
}

#menu-btn{
    width: 30px;
    height: 30px;
    display: none;
}
#menu-close{
    display: none;
}

nav .navigation ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav .navigation ul li{
    list-style: none;
    margin-left: 30px;
}

nav .navigation ul li a{
    text-decoration: none;
    color: rgb(21, 21, 100);
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease;
}

nav .navigation ul li a.active,
nav .navigation ul li a:hover{
   color: #FDC93B;
}

/* Home Section */

#home{
    background-image: linear-gradient(rgba(9, 5, 54, 0.3),rgba(5, 4, 46, 0.7)),url(/img/uni.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
}

#home h2{
    color: #fff;
    letter-spacing: 1px;
    font-size: 50px;
    margin-top: 80px;
}

#home p{
    width: 50%;
    color: #fff;
    font-size: 1.1rem;
    line-height: 25px;
    margin: 20px auto;
    font-weight: 450;
}
#home .btn{
    margin-top: 30px;
}
#home a{
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: #fff;
    font-weight: 600;
    border-radius: 5px;
}
#home  a.blue{
    color: #fff;
    background: #009688;
    transition: 0.3s ease;
}
#home a.blue:hover{
    color: rgb(21, 21, 100);
    background: #FDC93B;;
}
#home  a.yellow{
    color: #fff;
    background: #009688;
    transition: 0.3s ease;

}
#home  a.yellow:hover{
    color: rgb(21, 21, 100);
    background: #FDC93B;
} 

/* Roadmap Section */

#roadmap{
    padding: 5vw 8vw 0;
    text-align: center;
}

#roadmap .r-base{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}

#roadmap .r-box{
    background: #F9F9FF;
    text-align: start;
}

#roadmap .r-box i{
    font-size: 2.3rem;
    color: rgb(44, 44, 80);
}

#roadmap .r-box h3 {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 13px 0 7px 0;
    color: rgb(46, 46, 59);
}

#roadmap .r-box p {
    font-size: 1rem;
    font-weight: 400;
    color: rgb(70, 70, 87);
}

/* Department Section */

#dep{
    padding: 8vw 8vw 0 8vw;
    text-align: center;
}

#dep .dep-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}

#dep .deps{
    text-align: start;
    background: #F9F9FF;
    height: 100%;
}
#dep .deps img{
    width: 100%;
    height: 60%;
    background-size: cover;
    background-position: center;
}

#dep .deps .details{
    padding: 15px 15px 0 15px;
}
#dep .deps .details i{
    color: #FDC93B;
    font-size: .9rem;
}

/* Department Head Section */

#dephead{
    padding: 8vw 8vw 8vw 8vw;
    text-align: center;
}

#dephead .head-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}

#dephead .head-box .profile{
    background: #fafaf1;
    padding: 30px 10px;
}

#dephead .head-box .profile img{
    width: 40%;
    height: 60%;
}

.pro-links{
    margin-top: 10px;
}

.pro-links i{
    padding: 10px 13px;
    border: 1px solid rgb(21, 21, 100);
    cursor:pointer;
    transition: 0.3s ease;
}

.pro-links i:hover{
    background: rgb(21, 21, 100);
    color: #fff;
    border: 1px solid rgb(21, 21, 100);
    cursor:pointer;
}

/* Footer */

footer{
    padding: 8vw;
    background-color: #101C32;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

footer .footer-col{
    padding-bottom: 40px;
}

footer h3{
    color: rgb(241, 240, 245);
    font-weight: 600;
    padding-bottom: 20px;
}

footer li {
    list-style: none;
    color: #f1f4f7;
    padding: 10px 0;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}

footer li:hover {
    color: rgb(229, 232, 24);
}

footer p{
    color: #7b838a;
}

footer .subscribe{
    margin-top: 20px;
}

footer input{
    width: 220px;
    padding: 15px 12px;
    background: #334F6C;
    border: none;
    outline: none;
    color: #fff;
}

footer .subscribe a{
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 15px;
    background-color: #fff;
    font-weight: 600;
}

footer .subscribe a.yellow{
    color: #fff;
    background: #FDC93B;
    transition: 0.3s ease;
}

footer .subscribe a.yellow:hover{
    color: rgb(21, 21, 100);
    background: #fff;
}

footer .copyright{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

footer .copyright p{
    color: #fff;
}

footer .pro-links{
    margin-top: 0px;
}

footer .pro-links i{
    background-color: #5f7185;
    color: #fff;
}

footer .pro-links i:hover{
    background-color: #FDC93B;
    color: #2c2c2c;
}

/* About Page Home Section */

#about-home{
    background-image: linear-gradient(rgba(9, 5, 54, 0.3),rgba(5, 4, 46, 0.7)),url(/img/uni.jpg);
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
}

#about-home h2{
    color: #fff;
    font-size: 2.2rem;
    letter-spacing: 1px;
}

#home-container{
    display: flex;
    align-items: center;
    padding: 8vw 8vw 2vw 8vw;
}

#home-container .about-img{
    height: 50%;
}

#home-container .about-text{
    text-align: left;
}

#home-container .about-text h2{
    color: #29303B;
    padding-bottom: 15px;
}

#home-container .about-text p{
    color: #686F7A;
    font-weight: 500;
}

/* Trust Section */

#trust{
    text-align: center;
    padding: 8vw;
}

#trust .trust-img{
    margin-top: 60px;
    justify-content: center;
    align-items: center;
}

#trust .trust-img img{
    width: 150px;
    height: auto;
}


/* Announcement Page Home Section */

#post-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8vw;
}

#post-container .post{
    width: 60%;
}

#post-container .post img{
    width: 100%;
    border-radius: 19px;
}

#post-container .post .posts{
    padding-bottom: 60px;
}

#post-container .post .posts h3{
    color: #29303B;
    padding: 15px 0 10px 0;
}

#post-container .post .posts p{
    color: #757373;
    padding-bottom: 20px;
}

#post-container .post .posts a{
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: rgb(21, 21, 100);
    color: #fff;
    border-radius: 5px;
    font-weight: 600;
}








/* Media Querys */

@media (max-width: 769) {
    nav{
        padding: 15px 20px;
    }
    nav img{
        width: 130px;
    }
    #menu-btn{
        display: initial;
    }
    #menu-close{
        display: initial;
        font-size: 1.6rem;
        color: #fff;
        padding: 30px 0 20px 20px;
    }
    nav .navigation ul {
        position: absolute;
        top: 0;
        right: 0;
        width: 220px;
        height: 100vh;
        background: rgba(17, 20, 104, 0.45);
        backdrop-filter: blur(4.5px);
        border: 1px solid rgba(255, 255, 255, 0.18);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
 
    nav .navigation ul li{
        padding: 20px 0 20px 40px;
        margin-left: 0;
    }
    nav .navigation ul li a{
        color: #fff;
    }

    #about-container{
        padding: 8vw 4vw 2vw 4vw;
    }
    #about-container .about-img{
        padding-right: 30px;
    }
    #trust .trust-img img{
        width: 50px;
        height: auto;
    }

    #post-container{
        padding: 8vw 4vw;
    }
}


@media (max-width:475) {
    h1 {
        font-size: 2rem;
    }
    #about-container{
        flex-direction: column-reverse;
    }
    #about-container .about-img{
        width: 100%;
        padding-right: 0px;
    }
    #about-container .about-text{
        width: 100%;
        padding-bottom: 20px;
    }
    #trust .trust-img{
        margin-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    #trust .trust-img img{
        width: 60px;
        margin: 10px 15px;
        height: auto;
    }

    #post-container{
        flex-direction: column;
    }

    #post-container .post{
        width: 100%;
    }
}

@media (max-width: 376px) {
    footer input{
        width: 100%;
        margin-bottom: 20px;
    }
}




 
